@model HomeWorkMVC.Models.SupportStatus

@{
    ViewData["Title"] = "NewRequest";
}

<div>
    <p>New Request</p>
</div>
<select></select>
<select></select>
<select></select>
<select></select>
<select></select>