@using HomeWorkMVC.Service
@model HomeWorkMVC.Models.SupportRequestStatus
@inject GetAllStatuses GetAllStatuses

@{
    ViewData["Title"] = "NewRequest";
}

<div>
    <p>New Request</p>
</div>
<form class="mb-3 ticket-add-form"
      method="post"
      asp-controller="Table"
      asp-action="NewRequest">
        <select class="form-select" aria-label="Default select example" style="width: 500px" name="status">
            <option selected>@Model.StatusName</option>
    
            @foreach (var status in @GetAllStatuses.AllStatuses())
            {
                <select value="@status">@status</select>
            }
        </select>
</form>
